#navbar-component {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
  }
  #navbar-component li.navbrand{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #navbar-component li.navbrand img{
      margin: 0.4rem 1.4rem;
      height: 2.4rem;
      width: auto;
  }
  #navbar-component li {
    float: left;
  }
  
  #navbar-component  li:last-child {
    border-right: none;    
    float: right;
  }
  
  #navbar-component li .text {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }

  #navbar-component li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  #navbar-component li a:hover:not(.active) {
    background-color: #303081;
    color: #FFF !important;
  }
  
  .active {
    background-color: #000036;
    color: #FFF !important;
  }
